@import 'global-variables';
// $namespace: 'Simulatorscreen';

#Simulatorscreen{
  position: absolute;
  top:0;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;

  .screentitle {
    font-size: 5rem;
  }

  a {
    font-size: 1.4rem;
  }

  .toolbar {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
  }
}
